# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# Jupyter Notebook checkpoint
.ipynb_checkpoints

# macOS and Windows system files
.DS_Store
Thumbs.db
